<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ToggleConfiguration" type="FeatureToggles.Configuration.ToggleConfigurationSection, FeatureToggles"/>
  </configSections>
  <appSettings>
    <add key="Toggle:Enabled" value="true"/>
    <add key="Toggle:DefaultValue" value="false"/>

    <add key="ToggleFlag:CacheInheritableDatasource" value="true" />
    <add key="ToggleFlag:StrongToggleId" value="true" />
  </appSettings>
  <ToggleConfiguration>
    <toggles>
      <toggle name="CacheInheritableDatasource" enabled="true">
        <roles>
          <role name="Staff" />
        </roles>
        <users>
          <user name="abcd" />
        </users>
        <ipaddresses>
          <ipaddress value="127.0.0.1/28" />
        </ipaddresses>
      </toggle>
      <toggle name="StrongToggleId" enabled="true" />
    </toggles>
  </ToggleConfiguration>
</configuration>
